body {
    padding: 40px 135px 0px;
}

/* navbar */

header {
    margin-bottom: 0;
    padding-bottom: 0;
}

.navbar {
    display: flex;
}

.logo {
    width: 100%;
}

.nav-option {
    width: 100%;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav-option-text {
    color: #424247;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
}

.nav-home {
    color: #FF5400;
    font-weight: 700;
}

/* section-1-explore-travel */

.explore-travel {
    background-image: url("../Images/explore_travel.png") !important;
    height: 500px;
    border-radius: 16px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.explore-travel-div {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    height: 500px;
    border-radius: 16px;
    width: 100%;
}

.explore-travel-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    padding: 110px 0px 0px;
    margin-bottom: 0;
}

.explore-travel-text {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin: 30px 120px 40px;
}

.explore-travel-btns {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 760px;
    height: 68px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding: 0 16px 0;
}

.explore-travel-btn {
    width: 174px;
    height: 48px;
    border-radius: 8px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0;
}

.explore-travel-btn-1 {
    background: #FF5400;
    justify-content: center;
    gap: 8px;
}

.explore-travel-btn-text {
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

.explore-travel-btn-text-2 {
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
}

.dropdown-logo {
    width: 22px;
    height: 22px;
}

/* Popular tours */

.popular-tour-sec{
    display: flex;
    margin-top: 80px;
    gap: 70px;
}

.popular-tour{
    margin: 10px;
}

.popular-tour-title{
    color: #131318;
font-family: Mulish;
font-size: 40px;
font-weight: 800;
margin-bottom: 28px;
margin-top: 0;
}

.popular-tour-text{
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
margin-bottom: 24px;
line-height: 22px;
}

.popular-tour-text1{
    margin-bottom: 16px;
    margin-left: -10px;
}

.read-more-btn{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-weight: 800;
border-radius: 8px;
background: #FF5400;
width: 170px;
height: 48px;
border: none;
margin-top: 10px;
}

.popular-tour-img{
    border-radius: 16px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
height: 540px;
}




/* Responsive for mobile */

/* navbar */
@media screen and (max-width: 600px) {
    
}